img{
    padding: 0.6rem;
    height: 200px;
}

.food-card{
    margin-top: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

p{
    margin: 0;  
    padding: 0;
    margin-left: 5%;
    text-align: start;
}

.card-text{
    font-size: 80%;
}
